:plain
  <script>
    $(document).ready(function(){
      draw_treemap(#{@treemap.to_json},'#stuffit');
    });
  </script>
.container
  .row
    .col-md-12
      #stuffit
      %strong Colormap for #{sanitize params[:url]}
