iframe {
  border: 0;
}
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
.footer {
  margin-top: 5em;
  margin-bottom: 0;
  .container {
    padding-top: 1em;
  }
}
