iframe {
  border: 0;
}
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  box-shadow: 0 0 6px #999;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.map {
  margin: 5em 0;
}
.footer {
  margin-top: 5em;
  margin-bottom: 0;
  .container {
    padding-top: 1em;
  }
}
